<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERP.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERP.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ERP.UI.Properties.Settings>
            <setting name="LetzterBefehlsindex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Offline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AktuellerSprachcode" serializeAs="String">
                <value />
            </setting>
            <setting name="LightTheme" serializeAs="String">
                <value>/Themes/LightTheme.xaml</value>
            </setting>
            <setting name="AktuellesThema" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>/Themes/DarkTheme.xaml</value>
            </setting>
            <setting name="WarOffline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AngemeldetBleiben" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HauptfensterBreite" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MinimaleAufgabenBreite" serializeAs="String">
                <value>1050</value>
            </setting>
            <setting name="MinimaleFensterBreite" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="AlleAnzeigen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unten" serializeAs="String">
                <value>57369</value>
            </setting>
            <setting name="Oben" serializeAs="String">
                <value>57368</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Passwort" serializeAs="String">
                <value />
            </setting>
            <setting name="Maximieren" serializeAs="String">
                <value>10064</value>
            </setting>
            <setting name="Widerherstellen" serializeAs="String">
                <value>11036</value>
            </setting>
            <setting name="WiederherstellenTaste" serializeAs="String">
                <value>11036</value>
            </setting>
        </ERP.UI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ERP.UI.Properties.Settings>
            <setting name="Protokollname" serializeAs="String">
                <value>ERP.UI.log</value>
            </setting>
            <setting name="BefehleKonfiguration" serializeAs="String">
                <value>Befehle.xml</value>
            </setting>
            <setting name="OfflineDatenbank" serializeAs="String">
                <value>Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=C:\\Users\\HP\\source\\repos\\ERP.API\\Daten\\ERP_Database.mdf;Integrated Security=True;Connect Timeout=30;Database=ERP_Database"</value>
            </setting>
            <setting name="OnlineRestApiBasis" serializeAs="String">
                <value>http://localhost:7016/</value>
            </setting>
            <setting name="OfflineAddIn" serializeAs="String">
                <value>ERP.Data.dll</value>
            </setting>
        </ERP.UI.Properties.Settings>
    </applicationSettings>
</configuration>